<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I hold a Bachelor's degree in Business, which provided me with a strong foundation in analytical thinking, problem-solving, and strategic planning. After completing my degree, I began my professional journey as a Data Analyst at ContentioLab, a consulting firm where I honed my skills in data analysis, visualization, and reporting. My role involved extracting insights from complex datasets, which helped drive informed decision-making for our clients.</p>
      </div>
      <div class="col-lg-4">
        <p>In addition to my experience at ContentioLab, I have also completed internships in diverse fields. At Momentum Solar, I gained valuable hands-on experience in data management and process optimization within the renewable energy sector. Furthermore, during my college years, I interned at a banking institution, where I was exposed to financial data analysis and the intricacies of banking operations. These experiences have equipped me with a versatile skill set, enabling me to adapt and thrive in various data-driven environments. </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
